.header {
  background: url(../img/banner1.png) no-repeat center/cover;
  height: 735px;
  min-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #f3f3f3;
  padding-top: 6px;
  height: 77px;
}

.header .navbar .menu {
  width: 765px;
}

.header .navbar .menu .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  letter-spacing: 0.5px;
  margin-bottom: 16px;
}

.header .navbar .menu .contact span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}

.header .navbar .menu .contact .address img {
  margin-right: 16px;
}

.header .navbar .menu .contact .phone {
  font-family: "Fira Sans", sans-serif;
}

.header .navbar .menu .contact .icon {
  margin: 0;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .navbar .menu .navigate {
  width: 100%;
  padding: 25px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  color: black;
  font-weight: bold;
  background-color: #fbd341;
  border-radius: 10px;
}

.header .navbar .menu .navigate ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .blue-background {
  background: #004c84;
  opacity: 0.3;
  width: 72%;
  height: 407px;
  z-index: 2;
  position: absolute;
  left: 0;
  bottom: 0;
}

.header .best-deal {
  margin-top: 300px;
  z-index: 3;
  color: white;
}

.header .best-deal .slick-slider {
  z-index: 5;
}

.header .best-deal .slick-slider h1 {
  font-size: 30px;
  font-weight: bold;
}

.header .best-deal .slick-slider .slick-dots {
  color: black;
  bottom: -185px;
  text-align: start;
}

.header .best-deal .slick-slider .slick-dots button:before {
  font-size: 60px;
  color: #cbeef1;
}

.header .best-deal .slick-slider .slick-dots .slick-active button:before {
  color: #fbd341;
}

.header .best-deal .slick-slider .btn {
  margin-top: 40px;
  height: 48px;
  width: 254px;
  background-color: #fbd341;
  border-radius: 10px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

.slick-initialized .slick-slide {
  display: block;
}

.tabs-slick {
  height: 485px;
  width: 100%;
  padding-top: 74px;
}

.tabs-slick .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f8f7f7;
  width: 520px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 35px;
  padding: 10px;
  border: none;
}

.tabs-slick .card img {
  margin-right: 28px;
}

.tabs-slick .card .card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tabs-slick .card .card-title h4 {
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: black;
  font-size: 17px;
  line-height: 30px;
}

.tabs-slick .card .card-title .date {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 15px;
  line-height: 14px;
  border-bottom: 2px #eae9e9 solid;
  padding-bottom: 10px;
}

.tabs-slick .card .card-title .info {
  line-height: 20px;
  margin-bottom: 20px;
  letter-spacing: 0.2px;
}

.tabs-slick .card .card-title .price {
  font-size: 20px;
  position: relative;
}

.tabs-slick .card .card-title .price span {
  margin-left: 11px;
  font-size: 11px;
  color: #898989;
  position: absolute;
  top: -11px;
}

.tabs-slick .card .card-title .price a {
  display: inline-block;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: #fbd341;
  position: absolute;
  right: 0;
  top: 5px;
}

.tabs-slick .card .card-title .price a::before {
  content: url(../icon/right.png);
  position: relative;
  left: 17px;
  top: 3px;
}

.tabs-slick .nav-tabs {
  border: none;
}

.tabs-slick .nav-tabs .nav-link {
  border: none;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 76px;
}

.tabs-slick .nav-tabs .active {
  color: #fbd341;
}

.tabs-slick .slick-initialized .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-slide {
  width: 520px;
}

.slick-prev {
  left: 65px;
  z-index: 100;
}

.slick-prev::before {
  content: url(../icon/left-arrow.png);
}

.slick-next {
  right: 65px;
  z-index: 100;
}

.slick-next::before {
  content: url(../icon/rigth-arrow.png);
}

body {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

.container {
  width: 1170px;
  padding: 0 15px;
  position: relative;
}
/*# sourceMappingURL=style.css.map */