.header {
  height: 735px;
  min-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #f3f3f3;
  padding-top: 6px;
  height: 77px;
  z-index: 5;
}

.header .navbar .navbar-mobile {
  display: none;
}

.header .navbar .menu {
  width: 765px;
}

.header .navbar .menu .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  letter-spacing: 0.5px;
  margin-bottom: 16px;
}

.header .navbar .menu .contact span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}

.header .navbar .menu .contact .address img {
  margin-right: 16px;
}

.header .navbar .menu .contact .phone {
  font-family: "Fira Sans", sans-serif;
}

.header .navbar .menu .contact .icon {
  margin: 0;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .navbar .menu .navigate {
  width: 100%;
  padding: 25px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  color: black;
  font-weight: bold;
  background-color: #fbd341;
  border-radius: 10px;
}

.header .navbar .menu .navigate a:hover {
  color: #004c84;
}

.header .navbar .menu .navigate ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .navbar .menu .navigate ul .tour-dropdown .dropdown-toggle:after {
  content: "";
  border: none;
}

.header .navbar .menu .navigate ul .tour-dropdown .dropdown-menu {
  background-color: rgba(51, 151, 226, 0.8);
  left: 450px;
  top: 100px;
  border-radius: 0;
  border: none;
  width: 195px;
  overflow-y: scroll;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 253px;
}

.header .navbar .menu .navigate ul .tour-dropdown .dropdown-menu a {
  font-size: 14px;
  line-height: 20px;
  color: white;
}

.header .navbar .menu .navigate ul .tour-dropdown .dropdown-menu a:hover {
  background-color: #3397e2;
}

.header .navbar .menu .navigate ul .tour-dropdown .dropdown-menu .dropdown-item {
  white-space: pre-wrap;
  padding: 7px 34px 7px 25px;
}

.header .navbar .menu .navigate ul .cervices-dropdown .dropdown-toggle:after {
  content: "";
  border: none;
}

.header .navbar .menu .navigate ul .cervices-dropdown .dropdown-menu {
  background-color: rgba(51, 151, 226, 0.8);
  left: 680px;
  top: 100px;
  border-radius: 0;
  border: none;
  overflow: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 240px;
  height: 253px;
}

.header .navbar .menu .navigate ul .cervices-dropdown .dropdown-menu a {
  font-size: 14px;
  line-height: 20px;
  color: white;
}

.header .navbar .menu .navigate ul .cervices-dropdown .dropdown-menu a:hover {
  background-color: #3397e2;
}

.header .navbar .menu .navigate ul .cervices-dropdown .dropdown-menu .dropdown-item {
  white-space: pre-wrap;
  padding: 7px 34px 7px 25px;
}

.header .best-deal {
  z-index: 3;
  color: white;
  width: 100%;
  position: absolute;
  top: 0;
}

.header .best-deal .slick-slide {
  z-index: 5;
}

.header .best-deal .slick-slide .best-deal-slider {
  height: 735px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header .best-deal .slick-slide .best-deal-slider .blue-background {
  display: block;
  background: #004c84;
  opacity: 0.3;
  width: 72%;
  height: 228px;
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 180px;
}

.header .best-deal .slick-slide .best-deal-slider .container {
  margin-top: 394px;
  z-index: 5;
}

.header .best-deal .slick-slide .best-deal-slider .container h1 {
  font-size: 30px;
  font-weight: bold;
}

.header .best-deal .slick-slide .best-deal-slider .container .btn {
  margin-top: 40px;
  height: 48px;
  width: 254px;
  background-color: #fbd341;
  border-radius: 10px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

.header .best-deal .slick-dots {
  color: black;
  bottom: 27px;
  text-align: center;
  left: -34%;
  z-index: 5;
}

.header .best-deal .slick-dots button:before {
  font-size: 60px;
  color: #cbeef1;
}

.header .best-deal .slick-dots .slick-active button:before {
  color: #fbd341;
}

.header ::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 5px;
  height: 0px;
}

.header ::-webkit-scrollbar-track {
  background-color: #6dc0c8;
}

.header ::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #fbd341;
}

.header ::-webkit-scrollbar-thumb:hover {
  background-color: #56999f;
}

.header ::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}

.header ::-webkit-scrollbar {
  width: 4px;
}

.slick-initialized .slick-slide {
  display: block;
}

@media (max-width: 992px) {
  .header {
    height: 550px;
  }
  .header .best-deal .slick-slide .best-deal-slider {
    height: 500px;
  }
  .header .best-deal .slick-slide .best-deal-slider .container {
    margin-top: 120px;
  }
  .header .best-deal .slick-slide .best-deal-slider .blue-background {
    width: 100%;
  }
  .header .navbar .menu {
    width: 80%;
  }
  .header .navbar .menu .navigate {
    font-size: 15px;
  }
  .header .navbar .menu .navigate ul .tour-dropdown .dropdown-menu {
    left: 150px;
    top: 85px;
  }
  .header .navbar .menu .navigate .navigate ul .cervices-dropdown .dropdown-menu {
    left: 320px;
    top: 85px;
  }
  .header .navbar .menu .contact {
    font-size: 12px;
    letter-spacing: 0;
    margin-bottom: 0px;
  }
  .header .navbar .menu .contact span {
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .container,
  .container-sm {
    max-width: 100%;
  }
  .header {
    height: 460px;
  }
  .header .best-deal .slick-slide .best-deal-slider {
    padding: 0 20px;
  }
  .header .best-deal .slick-slide .best-deal-slider .container {
    margin-top: 220px;
  }
  .header .best-deal .slick-slide .best-deal-slider .blue-background {
    bottom: 65px;
  }
  .header .container {
    width: 100%;
    padding: 0 0;
  }
  .header .container .best-deal {
    margin-top: 20px;
    padding: 0 15px;
  }
  .header .container .best-deal .slick-slider .slick-dots {
    color: black;
    bottom: -70px;
    text-align: center;
  }
  .header .container .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 0;
    height: auto;
  }
  .header .container .navbar .menu {
    width: 100%;
  }
  .header .container .navbar .menu .navbar-mobile {
    display: block;
  }
  .header .container .navbar .menu .navbar-mobile .navbar-toggler-mobile {
    width: 100%;
    background-color: #fbd341;
    font-weight: bold;
    font-size: 17px;
  }
  .header .container .navbar .menu .navbar-mobile .navbar-toggler-tour {
    font-size: 14px;
  }
  .header .container .navbar .menu .navbar-mobile .navbar-toggler-tour img {
    width: 2%;
  }
  .header .container .navbar .menu .navbar-mobile .navbar-collapse {
    background-color: #fbd341;
    text-align: center;
    color: black;
    font-weight: bold;
  }
  .header .container .navbar .menu .navbar-mobile .navbar-collapse a {
    padding: 0;
    cursor: pointer;
  }
  .header .container .navbar .menu .navbar-mobile .collapse-drop-mobile {
    width: 100%;
    max-height: 150px;
    background-color: #22334d;
    color: white;
    overflow-y: scroll;
  }
  .header .container .navbar .navigate {
    font-size: 15px;
    display: none;
  }
  .header .container .navbar .navigate ul .tour-dropdown .dropdown-menu {
    left: 150px;
    top: 85px;
  }
  .header .container .navbar .navigate .navigate ul .cervices-dropdown .dropdown-menu {
    left: 320px;
    top: 85px;
  }
  .header .container .navbar .contact {
    font-size: 12px;
    letter-spacing: 0;
    margin-bottom: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .container .navbar .contact span {
    margin-right: 10px;
  }
}

@media (max-width: 500px) {
  .header {
    height: 500px;
  }
  .header .best-deal .header .best-deal .slick-slide .container {
    margin-top: 160px;
  }
  .header .best-deal .slick-dots {
    left: 0;
  }
  .header .container .navbar .menu {
    margin-top: 10px;
  }
  .header .container .navbar .contact {
    display: none;
  }
  .header .best-deal .slick-slide .best-deal-slider .blue-background {
    bottom: 135px;
  }
  .header .best-deal .slick-slide .best-deal-slider .container {
    margin-top: 160px;
  }
}

.tabs-slick {
  height: 485px;
  width: 100%;
  padding-top: 74px;
}

.tabs-slick .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f8f7f7;
  width: 520px;
  min-width: 350px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 35px;
  padding: 10px;
  border: none;
}

.tabs-slick .card img {
  margin-right: 28px;
}

.tabs-slick .card .card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tabs-slick .card .card-title h4 {
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: black;
  font-size: 17px;
  line-height: 30px;
}

.tabs-slick .card .card-title .date {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 15px;
  line-height: 14px;
  border-bottom: 2px #eae9e9 solid;
  padding-bottom: 10px;
}

.tabs-slick .card .card-title .info {
  line-height: 20px;
  margin-bottom: 20px;
  letter-spacing: 0.2px;
}

.tabs-slick .card .card-title .price {
  font-size: 20px;
  position: relative;
}

.tabs-slick .card .card-title .price span {
  margin-left: 11px;
  font-size: 11px;
  color: #898989;
  position: absolute;
  top: -11px;
}

.tabs-slick .card .card-title .price a {
  display: inline-block;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: #fbd341;
  position: absolute;
  right: 0;
  top: 5px;
}

.tabs-slick .card .card-title .price a::before {
  content: url(../icon/right.png);
  position: relative;
  left: 17px;
  top: 3px;
}

.tabs-slick .nav-tabs {
  border: none;
}

.tabs-slick .nav-tabs .nav-link {
  border: none;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 76px;
}

.tabs-slick .nav-tabs .active {
  color: #fbd341;
}

.tabs-slick .slick-initialized .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-slide {
  width: 520px;
}

.slick-prev {
  left: 65px;
  z-index: 100;
}

.slick-prev::before {
  content: url(../icon/left-arrow.png);
}

.slick-next {
  right: 65px;
  z-index: 100;
}

.slick-next::before {
  content: url(../icon/rigth-arrow.png);
}

@media (max-width: 500px) {
  .tabs-slick {
    padding-top: 20px;
    height: auto;
  }
  .tabs-slick .slick-prev {
    left: 10px;
  }
  .tabs-slick .slick-next {
    right: 5px;
  }
  .tabs-slick .nav-tabs .nav-link {
    margin-bottom: 20px;
  }
  .tabs-slick .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 0px 7px;
    padding: 0 40px;
  }
  .tabs-slick .card img {
    margin: 0;
  }
}

.advantages {
  background-color: #f8f7f7;
  height: 513px;
}

.advantages .advantages-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages .advantages-wrapper h1 {
  margin-top: 45px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 60px;
  width: 100%;
}

.advantages .advantages-wrapper .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages .advantages-wrapper .title img {
  width: 458px;
  height: 315px;
  margin-right: 91px;
}

.advantages .advantages-wrapper .title span {
  overflow: auto;
  height: 185px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  padding-right: 20px;
}

@media (max-width: 992px) {
  .advantages .advantages-wrapper .title img {
    width: 315px;
    height: 300px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .advantages .advantages-wrapper .title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advantages .advantages-wrapper .title span {
    width: 90%;
    padding-right: 0;
  }
  .advantages .advantages-wrapper .title span:before {
    display: none;
  }
  .advantages .advantages-wrapper .title img {
    width: 500px;
    height: 200px;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .advantages .advantages-wrapper h1 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .advantages {
    margin-bottom: 10px;
    height: auto;
  }
}

.tour-offer {
  height: 280px;
  width: 100%;
  background: url(../img/footer.png) no-repeat center/cover;
  padding-top: 50px;
}

.tour-offer h1 {
  color: white;
  font-weight: bold;
  line-height: 30px;
  font-size: 24px;
  margin-bottom: 38px;
}

.tour-offer .input-data {
  height: 130px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
}

.tour-offer .input-data .btn {
  height: 48px;
  width: 254px;
  background-color: #fbd341;
  border-radius: 10px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

.tour-offer .input-data input {
  width: 140px;
  border: none;
  border-bottom: 1px #6b727c solid;
  background-color: transparent;
  color: white;
  font-size: 18px;
  padding-left: 14px;
}

.tour-offer .input-data .tour-select {
  color: white;
  font-size: 18px;
  border-bottom: 1px #6b727c solid;
  background-color: transparent;
  width: 140px;
  padding-left: 14px;
  cursor: pointer;
  position: relative;
}

.tour-offer .input-data .tour-select fieldset .nice-select {
  background-color: transparent;
  border-radius: 5px;
  border: none;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: auto;
  line-height: 30px;
  outline: none;
  padding-left: 0;
  padding-right: 0;
}

.tour-offer .input-data .tour-select fieldset .nice-select:after {
  display: block;
  z-index: 100;
  content: "";
  position: absolute;
  top: 14px;
  right: -18px;
  border: none;
  width: 9px;
  height: 9px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.tour-offer .input-data .tour-select fieldset .nice-select span {
  font-size: 18px;
}

.tour-offer .input-data .tour-select fieldset .nice-select .list {
  color: black;
  border: none;
  border-radius: 0;
  font-size: 18px;
  line-height: 30px;
  padding: 15px;
  position: absolute;
  top: 27px;
  left: -15px;
}

.tour-offer .input-data .tour-select fieldset .nice-select .list li {
  background-color: transparent;
}

.tour-offer .input-data .tour-select fieldset .nice-select .list li:hover {
  color: #fbd341;
  background-color: transparent;
}

@media (max-width: 1200px) {
  .tour-offer h1 .input-data input {
    width: 110px;
  }
}

@media (max-width: 992px) {
  .tour-offer .input-data {
    height: 140px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .tour-offer .input-data .btn {
    width: 100%;
  }
  .tour-offer h1 {
    margin-bottom: 25px;
  }
}

@media (max-width: 500px) {
  .tour-offer {
    height: 350px;
    padding-top: 20px;
  }
  .tour-offer .input-data {
    height: 220px;
    margin-bottom: 20px;
  }
}

.about-us {
  width: 100%;
  height: 310px;
  background-color: #22334d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-us .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

.about-us .container h3 {
  margin-bottom: 43px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.about-us .container li {
  font-size: 14px;
  line-height: 30px;
}

.about-us .container .about {
  width: 458px;
  margin-top: 51px;
}

.about-us .container .about .img-label {
  width: 293px;
  border-bottom: 1px #38475f solid;
  padding-bottom: 30px;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-us .container .about .img-label img {
  width: 226px;
  height: 54px;
}

.about-us .container .about .info {
  color: white;
  font-size: 14px;
  line-height: 24px;
  width: 315px;
  font-weight: 400;
  height: 65px;
}

.about-us .container .about .creator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.about-us .container .about .creator span {
  color: #c2c2c2;
  font-size: 14px;
  width: 293px;
  padding-top: 19px;
  border-top: 1px #38475f solid;
  margin-top: 30px;
}

.about-us .container .about .creator span img {
  width: 87px;
  height: 17px;
}

.about-us .container .contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  width: 682px;
}

.about-us .container .contact-wrapper .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 65px;
}

.about-us .container .contact-wrapper .support {
  margin-top: 65px;
}

.about-us .container .contact-wrapper .about-contact {
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-us .container .contact-wrapper .about-contact .span {
  color: #f3f3f3;
  line-height: 30px;
  margin-bottom: 6px;
}

.about-us .container .contact-wrapper .about-contact .phone {
  padding-bottom: 26px;
  border-bottom: 1px #38475f solid;
  margin-bottom: 20px;
}

.about-us .container .contact-wrapper .about-contact .icon img {
  margin-right: 20px;
}

@media (max-width: 992px) {
  .about-us .container .about {
    margin-top: 30px;
  }
  .about-us .container .about .img-label {
    width: 190px;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }
  .about-us .container .about .info {
    width: 220px;
  }
  .about-us .container .about .creator span {
    width: 190px;
  }
  .about-us .container .contact-wrapper div {
    margin-right: 25px;
  }
  .about-us .container .contact-wrapper .about-contact {
    width: 180px;
    margin-right: 0;
  }
  .about-us .container .contact-wrapper .about-contact .phone {
    padding-bottom: 0px;
    margin-bottom: 5px;
  }
}

@media (max-width: 767px) {
  .about-us .container .contact-wrapper .nav,
  .about-us .container .contact-wrapper .support,
  .about-us .container .contact-wrapper .about-contact {
    margin-top: 32px;
    line-height: 20px;
  }
  .about-us .container .contact-wrapper .about-contact {
    width: auto;
  }
}

@media (max-width: 500px) {
  .about-us {
    height: auto;
  }
  .about-us .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-us .container .about {
    width: 100%;
  }
  .about-us .container .about .info {
    width: 100%;
  }
  .about-us .container .about .img-label {
    width: 100%;
  }
  .about-us .container .about .img-label img {
    margin: auto;
  }
  .about-us .container .about .creator span {
    width: 100%;
  }
  .about-us .container .contact-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    padding: 0px 43px;
    margin-bottom: 20px;
  }
  .about-us .container .contact-wrapper .about-contact {
    line-height: 30px;
  }
  .about-us .container .contact-wrapper .about-contact h3 {
    margin-bottom: 20px;
  }
}

body {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .contant {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

body .footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  width: 1170px;
  padding: 0 15px;
  position: relative;
}

a:hover {
  color: #fbd341;
}

.nicescroll-rails .nicescroll-cursors {
  height: 9px;
}
/*# sourceMappingURL=style.css.map */