.header {
  height: 735px;
  min-width: 320px;
  display: flex;
  justify-content: center;
  position: relative;
  .navbar {
    display: flex;
    justify-content: space-between;
    color: #f3f3f3;
    padding-top: 6px;
    height: 77px;
    z-index: 5;
    .navbar-mobile {
      display: none;
    }
    .menu {
      width: 765px;

      .contact {
        display: flex;
        align-items: center;
        height: 30px;
        justify-content: space-between;
        justify-content: flex-end;
        letter-spacing: 0.5px;
        margin-bottom: 16px;

        span {
          display: flex;
          align-items: center;
          margin-right: 40px;
        }
        .address {
          img {
            margin-right: 16px;
          }
        }
        .phone {
          font-family: "Fira Sans", sans-serif;
        }
        .icon {
          margin: 0;
          width: 70px;
          display: flex;
          justify-content: space-between;
        }
      }
      .navigate {
        width: 100%;
        padding: 25px;
        height: 44px;
        display: flex;
        align-items: center;
        font-size: 18px;
        color: black;
        font-weight: bold;
        background-color: #fbd341;
        border-radius: 10px;
        a {
          &:hover {
            color: #004c84;
          }
        }
        ul {
          width: 100%;
          display: flex;
          justify-content: space-between;
          .tour-dropdown {
            .dropdown-toggle {
              &:after {
                content: "";
                border: none;
              }
            }
            .dropdown-menu {
              background-color: rgba($color: #3397e2, $alpha: 0.8);
              left: 450px;
              top: 100px;
              border-radius: 0;
              border: none;
              width: 195px;
              overflow-y: scroll;
              transition: 0.5s;
              height: 253px;
              a {
                font-size: 14px;
                line-height: 20px;
                color: white;
                &:hover {
                  background-color: #3397e2;
                }
              }
              .dropdown-item {
                white-space: pre-wrap;
                padding: 7px 34px 7px 25px;
              }
            }
          }
          .cervices-dropdown {
            .dropdown-toggle {
              &:after {
                content: "";
                border: none;
              }
            }
            .dropdown-menu {
              background-color: rgba($color: #3397e2, $alpha: 0.8);
              left: 680px;
              top: 100px;
              border-radius: 0;
              border: none;
              overflow: auto;
              transition: 0.5s;
              width: 240px;
              height: 253px;

              a {
                font-size: 14px;
                line-height: 20px;
                color: white;

                &:hover {
                  background-color: #3397e2;
                }
              }
              .dropdown-item {
                white-space: pre-wrap;
                padding: 7px 34px 7px 25px;
              }
            }
          }
        }
      }
    }
  }

  .best-deal {
    z-index: 3;
    color: white;
    width: 100%;
    position: absolute;
    top: 0;

    .slick-slide {
      z-index: 5;
      .best-deal-slider {
        height: 735px;
        display: flex;
        position: relative;
        .blue-background {
          display: block;
          background: #004c84;
          opacity: 0.3;
          width: 72%;
          height: 228px;
          z-index: 1;
          position: absolute;
          left: 0;
          bottom: 180px;
        }
        .container {
          margin-top: 394px;
          z-index: 5;
          h1 {
            font-size: 30px;
            font-weight: bold;
          }

          .btn {
            margin-top: 40px;
            height: 48px;
            width: 254px;
            background-color: #fbd341;
            border-radius: 10px;
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
          }
        }
      }
    }
    .slick-dots {
      color: black;
      bottom: 27px;
      text-align: center;
      left: -34%;
      z-index: 5;
      button {
        &:before {
          font-size: 60px;
          color: #cbeef1;
        }
      }
      .slick-active {
        button {
          &:before {
            color: #fbd341;
          }
        }
      }
    }
  }
  ::-webkit-scrollbar-button {
    background-image: url("");
    background-repeat: no-repeat;
    width: 5px;
    height: 0px;
  }

  ::-webkit-scrollbar-track {
    background-color: #6dc0c8;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: #fbd341;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #56999f;
  }

  ::-webkit-resizer {
    background-image: url("");
    background-repeat: no-repeat;
    width: 4px;
    height: 0px;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }
}
.slick-initialized .slick-slide {
  display: block;
}

@media (max-width: 992px) {
  .header {
    height: 550px;

    .best-deal {
      .slick-slide .best-deal-slider {
        height: 500px;
        .container {
          margin-top: 120px;
        }
        .blue-background {
          width: 100%;
        }
      }
    }

    .navbar .menu {
      width: 80%;
      .navigate {
        font-size: 15px;
        ul .tour-dropdown .dropdown-menu {
          left: 150px;
          top: 85px;
        }
        .navigate ul .cervices-dropdown .dropdown-menu {
          left: 320px;
          top: 85px;
        }
      }
      .contact {
        font-size: 12px;
        letter-spacing: 0;
        margin-bottom: 0px;
        span {
          margin-right: 10px;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .container,
  .container-sm {
    max-width: 100%;
  }
  .header {
    height: 460px;
    .best-deal .slick-slide .best-deal-slider {
      padding: 0 20px;
      .container {
        margin-top: 220px;
      }
      .blue-background {
        bottom: 65px;
      }
    }

    .container {
      width: 100%;
      padding: 0 0;

      .best-deal {
        margin-top: 20px;
        padding: 0 15px;
        .slick-slider .slick-dots {
          color: black;
          bottom: -70px;
          text-align: center;
        }
      }

      .navbar {
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        padding: 0;
        height: auto;

        .menu {
          width: 100%;
          .navbar-mobile {
            display: block;

            .navbar-toggler-mobile {
              width: 100%;
              background-color: #fbd341;
              font-weight: bold;
              font-size: 17px;
            }
            .navbar-toggler-tour {
              font-size: 14px;
              img {
                width: 2%;
              }
            }

            .navbar-collapse {
              background-color: #fbd341;
              text-align: center;
              color: black;
              font-weight: bold;
              a {
                padding: 0;
                cursor: pointer;
              }
            }
            .collapse-drop-mobile {
              width: 100%;
              max-height: 150px;
              background-color: #22334d;
              color: white;
              overflow-y: scroll;
            }
          }
        }
        .navigate {
          font-size: 15px;
          display: none;
          ul .tour-dropdown .dropdown-menu {
            left: 150px;
            top: 85px;
          }
          .navigate ul .cervices-dropdown .dropdown-menu {
            left: 320px;
            top: 85px;
          }
        }
        .contact {
          font-size: 12px;
          letter-spacing: 0;
          margin-bottom: 0px;
          justify-content: center;
          span {
            margin-right: 10px;
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .header {
    height: 500px;
    .best-deal {
      .header .best-deal .slick-slide .container {
        margin-top: 160px;
      }
      .slick-dots {
        left: 0;
      }
    }
    .container {
      .navbar {
        .menu {
          margin-top: 10px;
        }
        .contact {
          display: none;
        }
      }
    }
  }
  .header .best-deal .slick-slide .best-deal-slider {
    .blue-background {
      bottom: 135px;
    }
    .container {
      margin-top: 160px;
    }
  }
}
