@import "_header.scss";
@import "_offers.scss";
@import "_advantages.scss";
@import "_tour-offer.scss";
@import "_about-us.scss";
body {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
.container {
  width: 1170px;
  padding: 0 15px;
  position: relative;
}
